<!-- templates/assign_task.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add Bootstrap styles if not using CDN -->
    <!-- Add this to your HTML head section -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<	script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
</head>
<body>
{% extends 'base.html' %}

{% block title %}Assign Task{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">Assign Task</h1>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Assign Task</button>
    </form>
  </div>
{% endblock %}
</body>
</html>

